<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee           http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <!--metadata-complete="true">-->
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>Index.jsp</welcome-file>
    </welcome-file-list>
    <listener>
        <listener-class>org.directwebremoting.servlet.DwrListener</listener-class>
    </listener>
    <listener>
        <listener-class>henu.controller.notify.OnlineUserMapListener</listener-class>
    </listener>
    <!-- CharacterEncodingFilter -->
    <filter>
        <filter-name>encodingfilter</filter-name>
        <filter-class>henu.util.CharacterEncodingFilter</filter-class>
        <async-supported>true</async-supported>
        <init-param>
            <param-name>encoding</param-name>
            <param-value>UTF-8</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>encodingfilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <!-- DWR -->
    <servlet>
        <display-name>DWR Servlet</display-name>
        <servlet-name>dwr-invoker</servlet-name>
        <servlet-class>org.directwebremoting.servlet.DwrServlet</servlet-class>
        <init-param>
            <param-name>crossDomainSessionSecurity</param-name>
            <param-value>false</param-value>
        </init-param>
        <init-param>
            <param-name>allowScriptTagRemoting</param-name>
            <param-value>true</param-value>
        </init-param>
        <init-param>
            <param-name>classes</param-name>
            <param-value>java.lang.Object</param-value>
        </init-param>
        <init-param>
            <param-name>activeReverseAjaxEnabled</param-name>
            <param-value>true</param-value>
        </init-param>
        <init-param>
            <param-name>initApplicationScopeCreatorsAtStartup</param-name>
            <param-value>true</param-value>
        </init-param>
        <init-param>
            <param-name>maxWaitAfterWrite</param-name>
            <param-value>3000</param-value>
        </init-param>
        <init-param>
            <param-name>debug</param-name>
            <param-value>true</param-value>
        </init-param>
        <init-param>
            <param-name>logLevel</param-name>
            <param-value>WARN</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>dwr-invoker</servlet-name>
        <url-pattern>/dwr/*</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Auth Controller</servlet-name>
        <servlet-class>henu.controller.AuthController</servlet-class>
        <async-supported>true</async-supported>
    </servlet>
    <servlet-mapping>
        <servlet-name>Auth Controller</servlet-name>
        <url-pattern>/role</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Anonymous Controller</servlet-name>
        <servlet-class>henu.controller.role.AnonymousController</servlet-class>
        <async-supported>true</async-supported>
    </servlet>
    <servlet-mapping>
        <servlet-name>Anonymous Controller</servlet-name>
        <url-pattern>/anonymous</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>User Controller</servlet-name>
        <servlet-class>henu.controller.role.UserController</servlet-class>
        <init-param>
            <param-name>activeReverseAjaxEnabled</param-name>
            <param-value>true</param-value>
        </init-param>
        <async-supported>true</async-supported>
    </servlet>
    <servlet-mapping>
        <servlet-name>User Controller</servlet-name>
        <url-pattern>/u</url-pattern>
        <url-pattern>/u/cacl</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Administer Controller</servlet-name>
        <servlet-class>henu.controller.role.AdministerController</servlet-class>
        <async-supported>true</async-supported>
    </servlet>
    <servlet-mapping>
        <servlet-name>Administer Controller</servlet-name>
        <url-pattern>/admin</url-pattern>
        <url-pattern>/admin/env</url-pattern>
        <url-pattern>/admin/usr</url-pattern>
    </servlet-mapping>
    <error-page>
        <error-code>403</error-code>
        <location>/403.jsp</location>
    </error-page>
    <error-page>
        <error-code>404</error-code>
        <location>/404.jsp</location>
    </error-page>
    <error-page>
        <error-code>500</error-code>
        <location>/500.jsp</location>
    </error-page>
</web-app>
